body {
  display: flex;
  justify-content: space-around;
}

.wrapper-body {
}

.wrapper-main {
  display: flex;
  justify-content: space-around;
  width: 981px;
}

header {
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: cover;
  height: 309px;
  width: 981px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-div {
  margin: 0px 0px 25px 250px;
}

.header-h1-a {
  font-family: "Abril Fatface", cursive;
  color: #222;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  margin-block-end: -0.55em;
  font-size: 26px;
}

.header-h1-b {
  font-family: "Abril Fatface", cursive;
  color: #222;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
}

main {
  width: 700px;
  color: #222;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.narrow{
  width: 620px;
}
blockquote {
  margin: 0;
  color: white;
  font-size: 44px;
  background-color: #444;
  font-family: "Abril Fatface", cursive;
  display: block;
  position: relative;
  padding: 20px 45px 88px 0px;
  width: 700px;
}

blockquote::before {
  content: "\201C";
  font-size: 3.5em;
  position: absolute;
  top: -35px;
  left: -2px;
}
blockquote p {
  display: block;
  position: relative;
  top: 35px;
  left: 55px;
  padding: 0px 5px;
  margin: 0 auto;  
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  color: #222;
  font-size: 20px;
  margin: 50px 0px;
}

mark {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

.h3a {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  font-weight: bold;
  font-size: 25px;
  padding: 0px;
  margin: 60px 2px 0px 2px;
}

.h3b {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  font-style: italic;
  font-size: 17px;
  margin: 0px 0px -10px 0px;
  padding: 0px;
}

hr {
  border: 1px solid black;
  background-color: black;
}

p {
  margin: 30px 0px;
}

ul {
   list-style-type: square;
}